.slider__background {
  box-sizing: border-box;
  grid-row: 2;
  grid-column: span 7;
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

@media screen and (max-width: 950px) {
  .slider__background {
    background-color: white;
  }
}
