.about-play__time {
  max-width: 420px;
  margin: 212px 0 0 5px;
  padding: 0;
  font-family: "Neue Machina", Arial, sans-serif;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 32px;
}

@media screen and (max-width: 1000px) {
  .about-play__time {
    margin-top: 100px;
  }
}

@media screen and (max-width: 800px) {
  .about-play__time {
    margin: 30px 0 0 66px;
  }
}
