.readings__name-container {
  display: block;
  flex-direction: column;
  padding-top: 14px;
  background-color: #ecebe8;
  outline: none;
}

@media screen and (max-width: 800px) {
  .readings__name-container {
    padding-top: 20px;
  }
}

.readings__name-container:hover {
  cursor: pointer;
}

.readings__name-container:hover > .readings__name {
  background-color: #242424;
  color: #fff;
  cursor: pointer;
  transition: all .4s linear;
}
