.footer__block2{
  display: flex;
  margin: 21.64px 0px 0px 210px;
  justify-content: space-between;
}

@media screen and (max-width: 1050px) {
  .footer__block2{
    margin: 30px 20px 0;
    flex-direction: column;
    gap: 20px;
  }
}