.about-play__subtitle {
  max-width: 380px;
  margin: 38px 0 0 59px;
  padding: 0;
  font-family: "Neue Machina", Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 24px;
}

@media screen and (max-width: 1000px) {
  .about-play__subtitle {
    font-size: 20px;
    line-height: 24px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 800px) {
  .about-play__subtitle {
    margin: 18px 0 0 62px;
    max-width: 380px;
  }
}
