.secondPlay__description-items {
  list-style-type: none;
  padding: 0;
  margin: 66px 0 0;
  font-family: "Formular";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.01em;
  max-width: 84%;
  font-feature-settings: 'ss01' on;
}

@media screen and (max-width: 600px) {
  .secondPlay__description-items {
    margin: 32px 0 0;
    max-width: 100%;
  }
}
