.secondPlay__person_type_name {
  font-family: "Formular";
  font-weight: 300;
  font-size: 20px;
  line-height: 1.4;
  color: #242424;
  padding: 4px 0 0 28px;
  margin: 0;
  letter-spacing: -0.01em;
}
