.readings__container {
  width: 240px;
  height: 412px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #B7C09D;
  outline: none;
}

@media screen and (max-width: 800px) {
  .readings__container {
    margin-top: 32px;
    width: 244px;
    height: 441px;
  }
}
