.largePhoto__img {
  width: 91.667%;
  height: auto;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  .largePhoto__img {
  width: 100%;
  margin-top: 0;
  height: 252.22px;
  object-fit: cover;
  }
}
