.footer__subtitle-block2-1 {
  font-family: 'Formular', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #242424;
  padding: 0;
  margin: 16px 0px 0px 0px;
  width: 231px;
}