.footer__title-design-block3 {
  font-family: 'Formular', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #242424;
  margin: 0px 0px 0px 4px;
  width: 151px;
}