.slider__point_active {
  width: 8px;
  height: 8px;
  background-color: #242424;
}

.swiper-pagination-bullet-active {
  width: 8px !important;
  height: 8px !important;
  background-color: #242424;
}
