@import url(../vendor/normalize.css);
@import url(../vendor/FormularLight/formular-light.css);
@import url(../vendor/NeueMachinaRegular/neue-machina-regular.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__container/header__container.css);
@import url(../blocks/header/__container/_active/header__container_active.css);
@import url(../blocks/header/__nav/header__nav.css);
@import url(../blocks/header/__nav/_selected/header__nav_selected.css);
@import url(../blocks/header/__mobile/header__mobile.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/header/__menu/_selected/header__menu_selected.css);
@import url(../blocks/header/__items/header__items.css);
@import url(../blocks/header/__items-navigation/header__items-navigation.css);
@import url(../blocks/header/__items-social/header__items-social.css);
@import url(../blocks/header/__item/header__item.css);
@import url(../blocks/header/__social-item/header__social-item.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__support-link/header__support-link.css);

@import url(../blocks/photos/photos.css);
@import url(../blocks/photos/__description/photos__description.css);
@import url(../blocks/photos/__grid/photos__grid.css);
@import url(../blocks/photos/__item/photos__item.css);

.page {
  background-color: #ecebe8;
  max-width: 1440px;
  min-width: 414px;
  margin: 0 auto;
  padding: 0;
  color: #242424;
  position: relative;
}

.page_active {
  overflow-y: hidden;
}

.link-button {
  font-family: "Formular";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 14px;
  text-align: right;
  color: #242424;
  text-transform: uppercase;
  padding: 2px 0 3px 10px;
  margin: 0;
  margin-left: 30px;
  margin-top: 33px;
  border: none;
  border-right: 1px solid #242424;
  border-bottom: 1px solid #242424;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ecebe8;
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .projects-button {
    margin-top: 31px;
    position: absolute;
    top: 0;
    left: 56px;
  }
}

.button-arrow_left {
  padding: 0;
  margin: 0;
  margin-left: 5px;
  width: 25px;
  height: 25px;
}

@media screen and (max-width: 950px) {
  .button-arrow_left {
    margin-left: 0px;
  }
}

/* Блок 1-2*/

.play {
  margin-left: 120px;
  margin-top: 30px;

  display: grid;
  justify-items: center;
  align-items: center;
  /*grid-template-columns: repeat(auto-fit, minmax(1fr, 720px));*/
  grid-row-gap: 48px;
  grid-column-gap: 60px;
}

.about-play {
  max-width: 591px;
}

.play__description {
  grid-row: 2;
  grid-column: 2;
  max-width: 591px;
  font-family: "Neue Machina", Arial, sans-serif;
  font-size: 28px;
  font-weight: 400;
  justify-self: start;
}

.about-play__title {
  margin: 0;
  top: 0;
  max-width: 540px;
  font-family: "Neue Machina", Arial, sans-serif;
  font-size: 72px;
  font-weight: 400;
}

.about-play__subtitle {
  max-width: 380px;
  margin: 37px 0 0 50px;
  padding: 0;
  font-family: "Neue Machina", Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.about-play__time {
  max-width: 420px;
  margin: 212px 0 0 0;
  padding: 0;
  font-family: "Neue Machina", Arial, sans-serif;
  font-size: 28px;
  font-weight: 400;
}

.play__image {
  object-fit: cover;
  width: 100%;
  max-height: 614px;
}

.order-btn {
  width: 240px;
  height: 56px;
  outline: none;
  border: 1px solid #000000;
  margin-top: 16px;
  font-family: "FormularLight", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px 18px 16px;
  background-color: #ecebe8;
  cursor: pointer;
}
