.footer__logo-lubimovka {
  background-image: url(../../../images/footer/footer_logo_lubimovka.svg);
  width: 93px;
  height: 80.36px;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 42px 0px 0px 32px;
}

@media screen and (max-width: 415px) {
  .footer__logo-lubimovka{
    margin: 56px 0px 0px 58px;
  }
}