.footer__privacy-policy-block3 {
  font-family: 'Formular', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #242424;
  text-decoration: none;
  margin: 0px 0px 0px 0px;
}